{% extends 'base_admin.html.twig' %}

{% block title %}Backoffice | المكتب الخلفي{% endblock %}

{% block body %}
<div class="container">

<h2 class="display-3 text-center my-5">يمكنك إدارة موقعك | Backoffice</h2>
</div>
{% endblock %}
